.start{
    background: url('../../assess/pic3.png');
    height: 100%;
    width: 100%;
    position: relative;
    .walk{
        position: absolute;
        width: 204px;
        height: 48px;
        left: 58px;
        top: 55px;
        color: rgba(255, 255, 255, 1);
        font-size: 26px;
        text-align: center;
    }
    .bian{
        position: absolute;
        width: 108px;
        height: 108px;
        left: 106px;
        top: 175px;
        opacity: 0.16;
        color: rgba(80, 80, 80, 1);
        background-color: rgba(255, 255, 255, 1);
        border-radius: 54px;
        font-size: 18px;
        text-align: center;
        span{
            line-height: 108px;
            font-size: 40px;
        }
    }
    .word{
        position: absolute;
        width: 225px;
        height: 48px;
        left: 48px;
        top: 361px;
        color: rgba(255, 255, 255, 1);
        font-size: 13px;
        line-height: 190%;
        text-align: center;
    }
    .left{
        position: absolute;
        width: 130px;
        height: 48px;
        left: 21px;
        top: 496px;
        color: rgba(255, 255, 255, 1);
        box-shadow: rgba(137, 137, 137, 1) solid 1px;
        border-radius: 24px;
        font-size: 14px;
        text-align: center;
        border: 1px solid rgba(137, 137, 137, 1);
        span{
            line-height: 48px;
            a{
                color: rgba(255, 255, 255, 1);
            }
        }
    }
    .right{
        position: absolute;
        width: 130px;
        height: 48px;
        left: 168px;
        top: 496px;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(255, 51, 102, 1);
        border-radius: 24px;
        font-size: 14px;
        text-align: center;
        span{
            line-height: 48px;
            a{
                color: rgba(255, 255, 255, 1);
            }
        }
    }
}