.set{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: url('../../assess/pic4.png');
    .icon-flow{
        position: absolute;
        left: 17px;
        top: 20px;
        font-size: 25px;
        color: #ffffff;
        cursor: pointer;
    }
    .username{
        width: 294px;
        height: 32px;
        left: 26px;
	    top: 264px;
        position: absolute;
        overflow: hidden;
        span{
            font-size: 20px;
            line-height: 32px;
            margin-top: 10px;
            color: #ffffff;
        }
        input{
            border: none;
            outline: none;
            line-height: 20px;
            margin-left: 10px;
            // opacity: 0;
            background: transparent;
            color: #f7f3f3;
            font-size: 15px;
            border-bottom: 1px solid #cccccc;
            width: 250px;
            text-indent: 10px;
        }
        input::-webkit-input-placeholder{
            color:#ffffff;
        }
    }
    .email{
        width: 294px;
        height: 32px;
        left: 26px;
	    top: 314px;
        position: absolute;
        overflow: hidden;
        span{
            font-size: 20px;
            line-height: 32px;
            margin-top: 10px;
            color: #ffffff;
        }
        input{
            border: none;
            outline: none;
            line-height: 20px;
            margin-left: 10px;
            // opacity: 0;
            background: transparent;
            color: #f7f3f3;
            font-size: 15px;
            border-bottom: 1px solid #cccccc;
            width: 250px;
            text-indent: 10px;
        }
        input::-webkit-input-placeholder{
            color:#ffffff;
        }
    }
    .password{
        width: 294px;
        height: 32px;
        left: 26px;
	    top: 364px;
        position: absolute;
        overflow: hidden;
        span{
            font-size: 20px;
            line-height: 32px;
            margin-top: 10px;
            color: #ffffff;
        }
        input{
            border: none;
            outline: none;
            line-height: 20px;
            margin-left: 10px;
            // opacity: 0;
            background: transparent;
            color: #f7f3f3;
            font-size: 15px;
            border-bottom: 1px solid #cccccc;
            width: 250px;
            text-indent: 10px;
        }
        input::-webkit-input-placeholder{
            color:#ffffff;
        }
    }
    .birthday{
        width: 294px;
        height: 32px;
        left: 26px;
	    top: 414px;
        position: absolute;
        overflow: hidden;
        span{
            font-size: 20px;
            line-height: 32px;
            margin-top: 10px;
            color: #ffffff;
        }
        input{
            border: none;
            outline: none;
            line-height: 20px;
            margin-left: 10px;
            // opacity: 0;
            background: transparent;
            color: #f7f3f3;
            font-size: 15px;
            border-bottom: 1px solid #cccccc;
            width: 250px;
            text-indent: 10px;
        }
        input::-webkit-input-placeholder{
            color:#ffffff;
        }
         
    }
    .btn{
        width: 276px;
        height: 48px;
        background-color: rgba(255, 51, 102, 1);
        border-radius: 24px;
        text-align: center;
        margin: 0 auto;
        margin-top: 320px;
        span{
            line-height: 48px;
            color: #ffffff;
        }
    }  
}